.content {
  display: flex;
  margin: 2rem auto;
  padding: 0 1rem;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bucket-panel {
  margin: 1rem;
  min-width: 16rem;
}

.bucket {
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.water {
  width: 5rem;
  background-color: blue;
  transition: height 1s ease;
}

.button-panel {
  margin: 1rem;
}

.final-score {
  font-size: 2rem;
}

.solved-overlay {
  position: absolute;
  padding-top: 10rem;
  font-size: 2rem;
}
